<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
		<a class="nav-item nav-link" routerLink="/">Home</a>
		<a class="nav-item nav-link" *ngIf="currentUser && currentUser.role.name === 'ADMIN'" routerLink="/cruduser">CRUD</a>
	</div>
	<div class="navbar-nav">
		<a class="nav-item nav-link" *ngIf="currentUser" (click)="logout()">log out</a>
		<a class="nav-item nav-link" *ngIf="!currentUser" routerLink="/login">log in</a>
	</div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
				<alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
